/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  font-family: "Poppins", sans-serif;
} */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@200;300;400;500;600;700&display=swap,subset=vietnamese');
*{
  font-family: "Roboto", sans-serif;
}


.button-delete {
    top: 2%;
    border: none;
    border-radius: 20%;
    color: #F34541;
    height: 30px;
    transition: all 0.2s ease-in-out;
}

.button-delete:hover {
    color: #ffffff;
    background-color: #F34541;
}

.header-text {
  margin-bottom: 7%;
  border-bottom: 1px solid;
  width: 50%;
}

.button-all {
  position: absolute;
  bottom: 10%;
}

.button-all button {
  width: 120px;
  margin: 0 10px 0 10px;
}